body{
    font-family: 'calibri';
}

#container {
    display: flex;
    height: 100vh;
  }

 #container2 {
    display: flex;
    align-items: center;
    flex-direction:column; 
    gap:10px;
  }

#container3{
 display:flex; 
 justify-content: center
}

#container4{
  padding: 130px;
}

  button{
    background-color: #1c1c1c;
    color: #ffff;
    margin-top: 3px;
    font-family: 'calibri';
    border-radius: 3px;
    font-size: 10px;
  }

  #kiri {
    flex: 3;
    padding-right: 2px;
    border-right: 1px solid black;
    font-family: 'calibri';
  }

  #kanan {
    flex: 7; 
    padding: 2px;
    box-sizing: border-box;
  }

  #kotak{
   border: 1px 
   solid black; 
   display: flex; 
   padding: 10px; 
   margin: 0 30px 15px 20px;
   justify-content: space-between; 
   border-radius: 10px;
   align-items: center;
  }
 
  p{
    font-weight: bold; 
    text-align: left;
    cursor: pointer;
    color: black;
    align-items: center;
    padding-left: 60px;
  }

  img{
    width: 16px; 
    vertical-align: middle; 
    margin-right: 6px;
  }

.active {
      background-color: #000;
      color: white;
      padding: 6px;
      border-radius: 6px;
    }

table {
      width: 96%;
      border-collapse: collapse;
      margin-left: 20px;
    }

th, td {
      padding: 10px;
      border-bottom: 1px solid black;
      border-top: 1px;
      text-align: left;      
    }
  
    
